SECRET_KEY="ALTERAR"
GOOGLE_CLIENT_ID="ALTERAR"
GOOGLE_CLIENT_SECRET="ALTERAR"
DB_HOST="ALTERAR"
DB_PORT="ALTERAR"
DB_USERNAME="ALTERAR"
DB_PASSWORD="ALTERAR"
DB_NAME="ALTERAR"

############### API VARIABLES ###############
API_HOSTNAME="ALTERAR"
API_PORT="ALTERAR"

############### FRONTEND VARIABLES ###############
WEB_HOSTNAME="ALTERAR"
WEB_PORT=ALTERAR

WEB_USER_RESET_PASSWORD_PATH="ALTERAR"

############### EMAIL VARIABLES ############### 
MAIL_USER="ALTERAR"
MAIL_PASSWORD="ALTERAR"

############### OAUTH2 VARIABLES ###############
OAUTH2_ENABLED="ALTERAR"
OAUTH_CLIENT_ID="ALTERAR"
OAUTH_REDIRECT_URI="ALTERAR"
OAUTH_CLIENT_SECRET="ALTERAR"
OAUTH_REFRESH_TOKEN="ALTERAR"
OAUTH_ACCESS_TOKEN="ALTERAR"