// Definindo cores

$colors: (
  primary: #216230,
  secondary: #D77E11,
  tertiary: #3c3425,
  quaternary: #070708,
  quinary: #3C809A,
  senary: #c3c79e,
  septenary: #45CEED,
  octonary : #3766EE,
  text: #000,
  text-light: #fff,
  background: #c3c79e
);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}

// Funções
@function color($key) {
  @return map-get($colors, $key);
}

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Estilos globais

html {
  font-family: Roboto, sans-serif;
  font-size: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: color(quaternary);
  color: color(primary);
  line-height: 1.6;
  margin: 0;
  .v-main {
    background-color: color(quaternary);
  }
}


// Headers

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 400;
  text-shadow: 0 0 15px rgba(50, 50, 50, 1);

  .rb-icon {
    transform: scale(.8);
  }

  small {
    font-size: .5em;
    font-weight: 300;
    transform: translateY(-.2em);
    display: inline-block;
    margin-left: .5em;
  }
}

// Links
a {
  color: color(secondary);
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
  transition: all 0.5s ease 0s;

  .rb-icon {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
    transition: filter 0.5s ease 0s;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: color(terciary);
    text-shadow: 0 0 5px;

    .rb-icon {
      filter: drop-shadow(0 0 5px currentcolor);
    }
  }
}

a:hover, a:focus {
  text-decoration: none !important;
}

// Botões
button {
  background-color: color(primary);
  color: color(text-light);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: color(tertiary);
  }
}

// Formulários
.text-center {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.single-line {
  white-space: nowrap;
}


