// Import Quasar variables and mixins
@import './quasar.variables.scss';

// Define custom colors
$primary: #1b5e20; // Adventure green
$secondary: #ffab00; // Mountaineering yellow
$dark: #1c1c1c; // Dark mode background
$light: #f5f5f5; // Light mode background

// Include Quasar variables
$body-bg-color: $light;
$header-bg-color: $primary;
$footer-bg-color: $primary;

body {
  background-color: $body-bg-color;
}

// Set dark mode variables
[data-theme='dark'] {
  $body-bg-color: $dark;
  $header-bg-color: #333;
  $footer-bg-color: #333;

  div {
    color: #000;
  }

  body {
    background-color: $body-bg-color;
  }
}
