// Import Quasar variables and mixins
@import './quasar.variables.scss';

// Define custom colors
$primary: #fcbd7b; // Adventure green
$secondary: #fcbd7b; // Mountaineering yellow
$tertiary: #ffffff; // Palevioletred

$primary-light: #ffca91;
$secondary-light: #fcbd7b;
$tertiary-light: #fcbd7b;

$primary-dark: #c48b5d;
$secondary-dark: #fcbd7b;
$tertiary-dark: #c71585;

$dark: #2c2c2c; // Dark mode background
$light: #f5f5f5; // Light mode background


// Define Cume custom colors
$c-color-yellow: #fffd5e;
$c-color-green: #5ccc62;
$c-color-red: #ff5858;
$c-color-blue: #52a2f3;
$c-color-purple: #ca74ef;
$c-color-pink: #ff7497;
$c-color-orange: #fcbd7b;
$c-color-brown: #e4a16a;
$c-color-grey: #757575;

// Include Quasar variables
$body-bg-color: $light;
$header-bg-color: $primary;
$footer-bg-color: $primary;

body {
  background-color: $body-bg-color;
}

// Set dark mode variables
[data-theme='dark'] {
  $body-bg-color: $dark;
  $header-bg-color: #333;
  $footer-bg-color: #333;

  body {
    background-color: $body-bg-color;
  }

  div {
    color: white;
  }
}

// Common classes
.header {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
  }
}

.via-list,
.q-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  padding: 16px;
}

.via-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fcbd7b;
}

.via-image,
.q-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.via-info,
.q-item-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.q-item-section:first-of-type {
  flex: 0 0 150px;
  max-width: 150px;
}

.q-item-section:last-of-type {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.page-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-padding {
  padding: 16px;
}

.btn{
  color: black;
  background-color: $primary;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */

  &:hover {
    background-color: $secondary-dark;
  }
}

.btn-google{
  color: black;
  background-color: $primary;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */

  &:hover {
    background-color: $c-color-red;
    color: white;
  }
 }

.btn-blue{
  color: black;
  background-color: $primary;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */

  &:hover {
    background-color: $c-color-blue;
  }
}

.btn-text-black{
  color: black !important;
  font-weight: bold;
  background-color: $primary;

  &:hover {
    background-color: lightgray;
  }
}

.btn-back {
  color: white;
  background-color: #1c1c1c;
  opacity: 0.6;

  &:hover {
    background-color: lightgray;
  }
}

.btn-close {
  &:hover {
    background-color: darkred;
  }
}

.card-item {
  max-width: 100%;
  margin: auto;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shadow-item {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */
}

.top-margem {
  margin-top: 8px;
}

.bottom-margem {
  margin-bottom: 8px;
}

.left-margem {
  margin-left: 8px;
}

.right-margem {
  margin-right: 8px;
}

.large-icon {
  font-size: 56px;
}

.medium-icon {
  font-size: 32px;
}

.small-icon {
  font-size: 26px;
}

.border-radius-small {
  border-radius: 8px;
}

.border-radius-medium {
  border-radius: 16px;
}

.border-radius-large {
  border-radius: 24px;
}

.text-h2{
  color: #fcbd7b;
}

.q-input-custom .q-field__native {
  color: white;
  font-weight: bolder;
  font-size: 14px;
}





