// Import Quasar variables and mixins


// Define custom colors
$primary: #8CB369; // Adventure green #8CB369
$secondary: #F4E285; // Mountaineering yellow #F29340
$tertiary: #F4E285; // Palevioletred #F4E285

// #119DA4 , F2E86D, 9FB7B9, FF9F1C, FDFFFC
$primary-light: #BCE9B4; // Custom green light
$secondary-light: #fffd5e; // Custom yellow light
$tertiary-light: #EF9D9D; // Custom pink light

$primary-dark: #546119; // Custom green dark
$secondary-dark: #BC4B51; // Custom red dark
$tertiary-dark: #ca74ef; // Custom purple dark

$background: #2c2c2c; // Dark mode background
$light: #f5f5f5; // Light mode background


$cumes-01: #8CB369;
$cumes-02: #546119;
$cumes-03: #F29340;
$cumes-04: #F4E285;
$cumes-05: #BC4B51;


// Define Cume custom colors
$c-color-yellow: #fffd5e;
$c-color-green: #BCE9B4;
$c-color-red: #ff5858;
$c-color-blue: #7E9CE8;
$c-color-purple: #ca74ef;
$c-color-pink: #EF9D9D;
$c-color-orange: #fcbd7b;
$c-color-brown: #e4a16a;
$c-color-grey: #757575;

// Include Quasar variables
$body-bg-color: $light;
$header-bg-color: $primary;
$footer-bg-color: $primary;
$active-tab-color: $cumes-01; /* Defina sua variável aqui */

body {
  background-color: $body-bg-color;
}

// Set dark mode variables
[data-theme='dark'] {
  $body-bg-color: $background;
  $header-bg-color: #333;
  $footer-bg-color: #333;

  body {
    background-color: $body-bg-color;
  }
}

// Common classes

:root {
  --primary: $primary;
}

.header {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
  }
}

.via-list,
.q-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  padding: 16px;
}

.via-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.via-image,
.q-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.via-info,
.q-item-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.q-item-section:first-of-type {
  flex: 0 0 150px;
  max-width: 150px;
}

.q-item-section:last-of-type {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.page-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-padding {
  padding: 16px;
}

.primary{
  color: $cumes-01;
}

.secondary{
  color: $cumes-02;
}

.tertiary{
  color: $cumes-03;
}

.red{
  color: $c-color-red;
}

.btn{
  color: $cumes-01;
  font-weight: bold;
  border: $cumes-01 1px solid;
  border-radius: 10px;
}

.btn-primary{
  color: $cumes-01;
  font-weight: bold;
  border: $cumes-01 1px solid;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */

  &:hover {
    background-color: $cumes-03;
  }
}

.btn-secondary{
  color: $cumes-03;
  font-weight: bold;
  border: $cumes-03 1px solid;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */

  &:hover {
    background-color: $cumes-03;
  }
}

.btn-dark{
  color: $background;
  font-weight: bold;
  border: $background 1px solid;
  border-radius: 10px;
}

.btn-red{
  color: #ff5858;
  font-weight: bold;
  border: #ff5858 1px solid;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */
}

.btn-text-black{
  color: black !important;
  font-weight: bold;

  &:hover {
    background-color: lightgray;
  }
}

.btn-back {
  color: white;
  background-color: #1c1c1c;
  opacity: 0.6;

  &:hover {
    background-color: lightgray;
  }
}

.btn-close {
  &:hover {
    background-color: darkred;
  }
}

.card-item {
  max-width: 100%;
  margin: auto;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shadow-item {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ajuste os valores conforme necessário */
}

.top-margem {
  margin-top: 8px;
}

.bottom-margem {
  margin-bottom: 8px;
}

.left-margem {
  margin-left: 8px;
}

.right-margem {
  margin-right: 8px;
}

.large-icon {
  font-size: 56px;
}

.medium-icon {
  font-size: 32px;
}

.small-icon {
  font-size: 24px;
}

.border-radius-small {
  border-radius: 8px;
}

.border-radius-medium {
  border-radius: 16px;
}

.border-radius-large {
  border-radius: 24px;
}

.text-h2{
  color: $primary;
}

.q-field__control {
  border-radius: 20px;
  border-color: $cumes-03;

  &::after {
    color: $primary !important;
  }

  &::before {
    color: $primary !important;
  }
}

.q-field__label {
  color: $cumes-03;
  margin-left: 8px;

}

.q-field {
  border-radius: 20px;
}

.q-field__control {
  border-radius: 20px;
  border: 1px solid $cumes-03;
  color: $cumes-03;
  padding-left: 16px;

  &::after {
    color: $cumes-03 !important;
  }

  &::before {
    color: $cumes-03 !important;
  }
}

.q-field__native {
  color: $cumes-03;
  padding-left: 16px;

  &::after {
    color: $cumes-03 !important;
  }

  &::before {
    color: $cumes-03 !important;
  }
}

.q-field--focused {
  border: none;
}

.q-field__control-container {
  border-radius: 20px;

  &::before {
    border-radius: 20px;
  }
}

.text-h7{
  font-size: 14px;
  font-weight: bold;
}

.text-h8{
  font-size: 12px;
  font-weight: bold;
}

.text-h9{
  font-size: 10px;
  font-weight: bold;
}

.text-10{
  font-size: 8px;
  font-weight: bold;
}


