@import "app";

.custom-input-auth {
  width: 100%;
  margin-bottom: 16px;

  .input-container {
    display: flex;
    align-items: center;
  }

  .input-label {
    font-size: 1em;
    color: $primary;
    margin-left: 0.5em;
  }

  .input-icon {
    color: $primary;
    font-size: 1.2em;
  }

  .p-inputtext {
    width: 100%;
    border-radius: 20px;
    border: 2px solid $cumes-01 !important;
    background-color: transparent !important;
    color: $offwhite !important;
    padding: 10px;
    font-size: 16px;

    &:focus {
      border-color: $cumes-01 !important;
      box-shadow: 0 0 5px rgba(140, 179, 105, 0.7);
    }
  }

  .p-invalid {
    border-color: #ff5858 !important; // Vermelho para erro
  }

  .error-message {
    color: #ff5858;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
  }
}

.custom-password-input-auth {
  width: 100%;
  margin-bottom: 16px;

  .input-container {
    display: flex;
    align-items: center;
  }

  .input-label {
    font-size: 1em;
    color: $primary;
    margin-left: 0.5em;
  }

  .input-icon {
    color: $primary;
    font-size: 1.2em;
  }

  // Aplica a estilização correta para o campo de senha do PrimeVue
  :deep(.p-password) {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  :deep(.p-password-input) {
    width: 100%;
    border-radius: 20px;
    border: 2px solid $cumes-01 !important; // Padrão verde
    background-color: transparent !important;
    color: $offwhite !important;
    padding: 10px;
    font-size: 16px;

    &:focus {
      border-color: $cumes-01 !important;
      box-shadow: 0 0 5px rgba(140, 179, 105, 0.7);
    }
  }

  // Se o campo estiver vazio, aplica borda vermelha
  &.p-invalid :deep(.p-password-input) {
    border-color: #ff5858 !important;
  }

  // Estilização específica para "Confirmar Senha"
  .confirm-password-input {
    :deep(.p-password-input) {
      border: 2px solid $cumes-01 !important; // Verde por padrão
    }

    // Se o campo estiver vazio, aplica borda vermelha
    &.p-invalid :deep(.p-password-input) {
      border-color: #ff5858 !important;
    }
  }

  // Ajusta o botão de visibilidade (olhinho)
  :deep(.p-password .p-password-toggle-mask) {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: $cumes-01 !important;
    cursor: pointer;
  }
}


:deep(.p-password-panel) {
  display: none !important;
}

:deep(input:-webkit-autofill),
:deep(input:-webkit-autofill:hover),
:deep(input:-webkit-autofill:focus),
:deep(input:-webkit-autofill:active) {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: $offwhite !important;
  transition: background-color 5000s ease-in-out 0s;
}
