// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


// quasar.variables.scss

// Define custom colors
$secondary: #BCE9B4FF; // Mountaineering yellow
$tertiary: #DA7093FF; // Palevioletred

$primary-light: #ffca91;
$secondary-light: #cbf8c4;
$tertiary-light: #f186aa;

$primary-dark: #c48b5d;
$secondary-dark: #8fd28f;
$tertiary-dark: #c71585;

$dark: #2c2c2c; // Dark mode background
$light: #f5f5f5; // Light mode background


// Define Cume custom colors
$c-color-yellow: #fffd5e;
$c-color-green: #5ccc62;
$c-color-red: #ff5858;
$c-color-blue: #52a2f3;
$c-color-purple: #ca74ef;
$c-color-pink: #ff7497;
$c-color-orange: #fcbd7b;
$c-color-brown: #e4a16a;
$c-color-grey: #757575;


$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


// Set dark mode variables
$dark-body-bg-color: $dark;
$dark-header-bg-color: #333;
$dark-footer-bg-color: #333;
