// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #fcbd7b;
$secondary : #bce9b4;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// quasar.variables.scss

// Define custom colors
$primary: #1b5e20; // Adventure green
$secondary: #ffab00; // Mountaineering yellow
$dark: #1c1c1c; // Dark mode background
$light: #f5f5f5; // Light mode background

// Include Quasar variables
$body-bg-color: $light;
$header-bg-color: $primary;
$footer-bg-color: $primary;

// Set dark mode variables
$dark-body-bg-color: $dark;
$dark-header-bg-color: #333;
$dark-footer-bg-color: #333;
