<!DOCTYPE html>
<html lang="pt-br">
    <head>
    </head>
    <body style="width: 100%; max-width: 600px; border-radius: 5px; background-color: #FBE5CF; padding: 20px; text-align: center;">
        <h1 style="margin-left: 1em;">Olá {{nome}} !</h1> 
        <p>Recebemos uma solicitação de senha referente ao email {{email}} citado. Para cadastrar uma nova senha, acesse o link abaixo</p>
        <div style="width: 100%; display: flex; justify-content: center;">
            <a href="{{url}}" target="_blank"
                style="background-color: #2C2C2C; padding: 0.5em 2em; border-radius: 15px; text-decoration: none; color: #FCBD7B; font-size: 16px; margin: 0 auto;"
            > Clique aqui para cadastrar nova senha </a>
        </div>
        <p>Se esta solicitação não partiu de você, orientamos atualizar a senha de cadastro ou mais breve possível</p>
    </body>
</html>