name: Frontend Deploy

on:
  push:
    paths:
      - 'frontend/**'
    branches:
      - hold
  workflow_dispatch: # Permitir execução manual


jobs:
  build-and-deploy-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      # 1. Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::156041409339:role/GitHubActionsCodeDeployRole
          aws-region: us-east-1

      # 3. Setup NodeJS
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      # 4. Instalar dependências do Frontend
      - name: Install Frontend dependencies
        working-directory: ./frontend
        run: npm install --no-package-lock


      # 5. Build do Frontend
      - name: Build Frontend
        working-directory: ./frontend
        env:
          VITE_APP_API_URL: "https://api.cumesbrasil.com.br/api"
          VITE_APP_ASSETS_URL: "https://d1261jj6xox5lv.cloudfront.net/assets"
          VITE_GOOGLE_CLIENT_ID: "909508756876-sr03gvh50b95hk2bdttahgr3tg6vjk5c.apps.googleusercontent.com"
        run: npm run build

      # 6. Upload Frontend to S3
      - name: Upload Frontend to S3
        run: aws s3 sync frontend/dist/pwa s3://cumes-brasil-front/ --acl public-read

      # 7. Invalidate CloudFront Cache (Frontend)
      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ELJ8QUTTTNKFP \
            --paths "/*"

      # 8. Upload Images to S3
      - name: Upload Images to S3 for CloudFront
        run: aws s3 sync backend/assets s3://cumes-brasil-images/assets --debug

      # 9. Invalidate CloudFront for Images
      - name: Invalidate CloudFront Cache for Images
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E2N1FL7EYFLAP1 \
            --paths "/*"
